/* -------------------------------------------------- 
    Table of Contents
-----------------------------------------------------
:: Reset & Standards
:: Links
:: Lists
:: Tables
:: Misc
:: Grid
:: Block grid
:: Typography
:: buttons
*/


/*	--------------------------------------------------
	:: Global Reset & Standards
	-------------------------------------------------- */
	
	/* 
		Eric Meyer's CSS Reset
		http://meyerweb.com/eric/tools/css/reset/ 
		v2.0 | 20110126
   		License: none (public domain)
	*/
	
	html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, em, img, ins, kbd, q, s, samp,  small, strike, strong, sub, sup, tt, var,  b, u, i, center,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td,  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary,  time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
html {
	font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure,  footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,  q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
sub {
	vertical-align: sub;
}
sup {
	vertical-align: super;
}

/*	--------------------------------------------------
	:: Links
	-------------------------------------------------- */
	a {
	color: #2a85e8;
	text-decoration: none;
	line-height: inherit;
}
a:hover {
	color: #11639d;
    text-decoration: none;
}
a:focus {
	color: #cc4714;
	outline: none;
}
p a, p a:visited {
	line-height: inherit;
}
/*	--------------------------------------------------
	:: Lists
	-------------------------------------------------- */
	ul, ol {
	margin-bottom: 18px;
}
ul {
	list-style: none outside;
}
ol {
	list-style: decimal;
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px;
}
ul.square {
	list-style: square outside;
}
ul.circle {
	list-style: circle outside;
}
ul.disc {
	list-style: disc outside;
}
li {
	margin-bottom: 12px;
}

/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 12px 5px;
	line-height: 1.42857143;
	vertical-align: top;
}
.table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 1px solid #ddd;
	text-align: left;
	font-weight: bold;
    font-size:12px;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
	border-top: 0;
}
.table > tbody + tbody {
	border-top: none;
}
.table .table {
	background-color: #fff;
}
.table-striped > tbody > tr:nth-child(odd) {
	background-color: #f6f6f6;
	border-top: 1px solid #ddd;
}
.table-striped > tbody > tr:first-child > td {
	border-top: 0;
}
.table-striped > tbody > tr > td:last-child, .table-striped > thead > tr > th:last-child {
	text-align: right;
}
.table-hover > tbody > tr:hover {
	background-color: #f5f5f5;
}
.table-responsive {
	min-height: .01%;
	overflow-x: auto;
}
/* -------------------------------------------------- 
	:: Misc
---------------------------------------------------*/
.left {
	float: left;
}
.right {
	float: right;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.hide {
	display: none;
}

#googlemap img, object, embed {
	max-width: none;
}
#map_canvas embed {
	max-width: none;
}
#map_canvas img {
	max-width: none;
}
#map_canvas object {
	max-width: none;
}
/* --------------------------------------------------
	:: Grid
	
	This is the mobile-friendly, responsive grid that
	lets Foundation work much of its magic.
	
	-------------------------------------------------- */

.container {
	padding: 0 15px;
}
/* The Grid ---------------------- */
.row {
	max-width: 100%;
	margin: 0 auto;
}
.column, .columns {
	float: left;
	min-height: 1px;
	padding: 0 15px;
	position: relative;
}
.column.centered, .columns.centered {
	float: none;
	margin: 0 auto;
}
 [class*="column"] + [class*="column"]:last-child {
float: right;
}
 [class*="column"] + [class*="column"].end {
float: left;
}
.one, .row .one {
	width: 8.33333%;
}
.two, .row .two {
	width: 16.66667%;
}
.three, .row .three {
	width: 25%;
}
.four, .row .four {
	width: 33.33333%;
}
.five, .row .five {
	width: 41.66667%;
}
.six, .row .six {
	width: 50%;
}
.seven, .row .seven {
	width: 58.33333%;
}
.eight, .row .eight {
	width: 66.66667%;
}
.nine, .row .nine {
	width: 75%;
}
.ten, .row .ten {
	width: 83.33333%;
}
.eleven, .row .eleven {
	width: 91.66667%;
}
.twelve, .row .twelve {
	width: 100%;
}

img, object, embed {
	max-width: 100%;
	height: auto;
}
img {
	-ms-interpolation-mode: bicubic;
}
#map_canvas img, .map_canvas img {
	max-width: none!important;
}
/* Nicolas Gallagher's micro clearfix */
 .row:before, .row:after, .clearfix:before, .clearfix:after {
	content:"";
	display:table;
}
.row:after, .clearfix:after {
	clear: both;
}
.row, .clearfix {
	zoom: 1;
}

/*	--------------------------------------------------
	:: Block grids
	
	These are 2-up, 3-up, 4-up and 5-up ULs, suited
	for repeating blocks of content. Add 'mobile' to
	them to switch them just like the layout grid
	(one item per line) on phones
	
	For IE7/8 compatibility block-grid items need to be
	the same height. You can optionally uncomment the
	lines below to support arbitrary height, but know
	that IE7/8 do not support :nth-child.
	-------------------------------------------------- */
	
	.block-grid {
	display: block;
	overflow: hidden;
	padding: 0;
}
.block-grid > li {
	display: block;
	height: auto;
	float: left;
}
.block-grid.two-up {
	margin-left: -2%
}
.block-grid.two-up>li {
	margin-left: 2%;
	width: 48%;
	margin-bottom: 2%;
}
.block-grid.three-up>li {
	width: 33.3%;
	margin-bottom: 2%;
}
.block-grid.three-up > li img {
	width: 100%;
}
.block-grid.four-up {
	margin-left: -2%
}
.block-grid.four-up>li {
	margin-left: 2%;
	width: 23%;
	margin-top: 20px;
}
.block-grid.four-up.ind-list>li {
	margin-left: 2%;
	width: 23%;
	margin-top: 20px;
}

.block-grid.five-up {
	margin-left: -1.5%
}
.block-grid.five-up>li {
	margin-left: 1.5%;
	width: 18.5%;
	margin-bottom: 1.5%;
}

.block-grid.six-up {
	margin-left: -3%
}
.block-grid.six-up>li {
	margin-left: 3%;
	width: 13%;
	margin-bottom: 0.5%;
}


/*	--------------------------------------------------
    :: Typography
	-------------------------------------------------- */
	h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-weight: bold;
	line-height: 1.25
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
h1 {
	font-size: 46px;
	font-size: 4.6rem;
	margin-bottom: 12px;
}
h2 {
	font-size: 35px;
	font-size: 3.5rem;
	margin-bottom: 9px;
}
h3 {
	font-size: 28px;
	font-size: 2.8rem;
	margin-bottom: 9px;
}
h4 {
	font-size: 21px;
	font-size: 2.1rem;
	margin-bottom: 3px;
}
h5 {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: normal;
	margin-bottom: 3px;
}
h6 {
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: normal;
}
p {
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.25;
	margin: 0 0 18px;
}
em, i {
	font-style: italic;
	line-height: inherit;
}
strong, b {
	font-weight: bold;
	line-height: inherit;
}
small {
	font-size: 60%;
	line-height: inherit;
}
h1 small, h2 small, h3 small, h4 small, h5 small {
	color: #777;
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 12px 0 18px;
	height: 0;
}


/*	--------------------------------------------------
    :: buttons
	-------------------------------------------------- */

	.btn {
	padding: 4px 8px;
	background: #eee;
	color: #333;
	border-radius: 3px;
    cursor:pointer;
}
.btn:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.btn.medium {
	padding: 6px 12px;
	font-size: 14px;
	font-size: 1.4rem;
}
.btn.large {
	padding: 8px 14px;
	font-size: 16px;
	font-size: 1.6rem;
}
.btn.xlarge {
	padding: 10px 16px;
	font-size: 18px;
	font-size: 1.8rem;
}
.btn.outline {
	border:1px solid #ddd;
	color:#333;
	background: transparent;
}
.btn.primary {
	background:#f58705;
	color: #fff;
}
.btn.primary:hover {
	background: #DE8113;
    color: #fff;
}
.btn.outline:hover {
	border-color:#999
}

.btn.filled{
	background-color: #ff8400;
	color: #fff
}
.btn.filled:hover{
	background-color: #f1572f;
	color: #fff;
	border: 1px solid #f1572f;
}
.btn.gray{
	background-color: #e8e8e8;
    color: #3f5677;
    border: 1px solid #e8e8e8;
}
.btn.gray:hover{
    background-color: #f9ad00;
    border-color: #f9ad00;
    color: #fff;
}
